@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

input {
  font-family: 'Karla', sans-serif;
}

nav {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  height: 65px;
  padding: 25px;
  color: #fff;
}

nav img {
  width: 30px;
  margin-right: 10px;
}

nav .meme {
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 30px;
}

main .text {
  width: 230px;
  margin: 0 10px;
  padding: 7px;
  border: 1px solid #D5D4D8;
  outline: none;
  border-radius: 5px;
  text-indent: 5px;
}

main .submit {
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  width: 477px;
  padding: 10px;
  margin: 25px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 35px;
}

.meme {
  position: relative;
}

.meme img {
  width: 477px;
  height: 268px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}